.SiteHeader__menuContainer {
    display: var(--desktopNavDisplay,block);
    position: absolute;
    top: calc(100% - 1px - var(--siteMenuArrowSpacing));
    left: 0;
    width: 100%;
    height: 1000px;
    z-index: 1;
    pointer-events: none;
    perspective: 2000px;
    overflow: hidden;
    opacity: 1;
    transition-property: opacity;
    transition: var(--siteMenuTransition);

    --cardShadowXLarge: 0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
    --cardShadowXLargeMargin: 48px;
    --columnWidth: calc(var(--layoutWidth)/var(--columnCountMax));
    --cardBorderRadius: 8px;
    --cardBackground: #fff;
    --navColor: #0a2540;

    --fontFamily: "sohne-var","Helvetica Neue","Arial",sans-serif;
    --fontWeightLight: 200;
    --fontWeightNormal: 300;
    --fontWeightSemibold: 425;
    --fontWeightBold: 500;
    --systemFontFamily: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.SiteHeaderArrow {
    --siteHeaderArrowBackgroundColor: #f0f3f6;
    position: absolute;
    top: 8px;
    left: 50%;
    margin: 0 0 0 -6px;
    width: 12px;
    height: 12px;
    transform: translateY(12px) translateX(var(--siteMenuArrowOffset)) rotate(45deg);
    border-radius: 3px 0 0 0;
    background-color: var(--siteHeaderArrowBackgroundColor);
    box-shadow: -3px -3px 5px rgb(82 95 127 / 4%);
    transition-property: transform;
    transition-duration: var(--siteMenuTransition);
    z-index: 2;
}

.SiteMenu {
    --siteMenuOffset: 0;
    --siteMenuRotateX: 0;
    display: inline-block;
    padding-top: var(--siteMenuArrowSpacing);
    height: calc(var(--siteMenuHeight) + var(--siteMenuArrowSpacing));
    transform: translateX(-50%) rotateX(var(--siteMenuRotateX));
    transform-origin: 50% -50px;
    transition: var(--siteMenuTransition);
    transition-property: transform,width,height;
    will-change: transform,width,height;
    z-index: 2;

    --siteMenuHeight: 400px;
    width: 804px;
    pointer-events: auto;
}

.SiteHeader[hidden] {
    --siteMenuRotateX: -15deg;
}

.SiteHeader__menu {
    position: absolute;
    top: 0;
    left: 50%;
}

.Card {
    --cardBleedRightNormal: var(--columnWidth);
    --cardBleedBottomNormal: 16px;
    --cardShadow: var(--cardShadowXLarge);
    --cardShadowMargin: var(--cardShadowXLargeMargin);
    --cardMinHeight: 72px;
    position: relative;
    min-width: 100px;
    min-height: var(--cardMinHeight);
    max-width: var(--cardMaxWidth,none);
    margin-right: calc(var(--cardBleedRight, 0)*-1);
    margin-bottom: calc(var(--cardBleedBottom, 0)*-1);
    border-radius: var(--cardBorderRadius);
    background: var(--cardBackground);
    box-shadow: var(--cardShadow);
    overflow: hidden;
}

.SiteMenu__card.Card {
    position: relative;
    height: 100%;
    z-index: 1;
}

@media (min-width: 600px) {
    .Card {
        max-width: var(--cardMaxWidthTablet,var(--cardMaxWidth));
    }
}

.SiteMenu__section[hidden] {
    opacity: 0;
    pointer-events: none;
}

.SiteMenu__section {
    --siteMenuSectionOffset: 0;
    --sectionOpacity: 0;
    --sectionDisplay: none;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateX(var(--siteMenuSectionOffset));
    transition: var(--siteMenuTransition);
    transition-property: transform,opacity;
    will-change: transform,opacity;

    opacity: var(--sectionOpacity);
    display: var(--sectionDisplay);

    height: 100%;
}

.SiteMenuSection {
    --siteMenuSpacing: 24px;
    position: relative;

    height: 100%;
}

@media (min-width: 900px) {
    .SiteMenuSection {
        display: inline-block;
        --siteMenuSpacing: 32px;
    }
}

.SiteMenuSection__body {
    padding: 0;

    height: 100%;
}

.SiteSubMenu {
    --siteSubMenuBackgroundColor: #f0f3f6;
    --siteSubMenuTriggerOffsetY: 0px;
    --siteSubMenuTriggerOffsetYCenter: 42px;
    --siteSubMenuTriggerBackgroundHeight: 84px;
    --siteSubMenuTriggerTransition: transform 150ms linear,height 150ms;
    --siteSubMenuNavWidth: 264px;
    --siteSubMenuSectionListWidth: 528px;
    --siteSubMenuNavGap: 4px;
    --siteSubMenuSectionListBackgroundRadius: 4px;
    --siteNavIconLabelLineHeight: 24px;
    --siteNavIconBodyLineHeight: 16px;
    display: inline-grid;
    gap: var(--siteSubMenuNavGap);
    grid: auto/var(--siteSubMenuNavWidth) var(--siteSubMenuSectionListWidth);
    padding: 4px;
    border-radius: var(--cardBorderRadius);
    background-color: var(--siteSubMenuBackgroundColor);

    --siteSubMenuTriggerOffsetY: 0px;
    --siteSubMenuTriggerOffsetYCenter: 48px;
    --siteSubMenuTriggerBackgroundHeight: 96px;

    height: 100%;
}

.SiteSubMenu__nav {
    position: relative;
}

.SiteSubMenu__navHoverBackground {
    position: absolute;
    transform: translateY(var(--siteSubMenuTriggerOffsetY));
    will-change: transform,height;
    z-index: 1;
    width: 100%;
    height: var(--siteSubMenuTriggerBackgroundHeight);
    border-radius: 4px;
    background-color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
    .SiteSubMenu__navHoverBackground {
        transition: var(--siteSubMenuTriggerTransition);
    }
}

.SiteSubMenu__navHoverArrow {
    position: absolute;
    right: -12px;
    z-index: 1;
    margin-top: -14px;
    top: 50%;
}

.SiteSubNavItem {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.SiteSubNavItem__label {
    color: var(--navColor);
    font: var(--fontWeightSemibold) 14px/1.7143 var(--fontFamily);
    letter-spacing: .2px;
}

.SiteSubNavItem__body {
    color: #4f5b76;
    font: var(--fontWeightNormal) 14px/1.4286 var(--fontFamily);
    letter-spacing: .2px;
}

.SiteSubMenu__sectionList {
    display: flex;
    background-color: #fff;
    border-radius: var(--siteSubMenuSectionListBackgroundRadius);
    overflow: hidden;
}

.SiteSubMenuSection {
    --siteSubMenuSectionNavOffset: 0;
    --siteSubMenuSectionPadding: 28px;
    position: relative;
    transform: translateY(0);
    transition-property: transform,opacity;
    will-change: transform,opacity;
    z-index: 2;
    display: grid;
    grid: auto/repeat(1,1fr);
    -moz-column-gap: 24px;
    column-gap: 24px;
    width: var(--siteSubMenuSectionListWidth);
    flex-shrink: 0;
    padding: var(--siteSubMenuSectionPadding);
    opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
    .SiteSubMenuSection {
        transition-delay: 25ms;
        transition: var(--siteMenuTransition);
    }
}

.SiteNavList {
    --siteNavIconSpacingTop: 0;
    --siteNavIconSpacingRight: 10px;
    --siteNavListMinWidth: 254px;
}

.SiteSubMenu .SiteNavList {
    --siteNavListMinWidth: 220px;
}

.SiteNavList__iconSizeLarge {
    --siteNavIconSize: 28px;
    --siteNavIconSpacingRight: 12px;
    --siteNavListSpacing: 12px;
}

@media (min-width: 900px) {
    .SiteNavList__iconSizeLarge {
        --siteNavIconSpacingTop: 6px;
        --siteNavIconSpacingRight: 16px;
        --siteNavListSpacing: 20px;
    }
}

.SiteNavList__list {
    min-width: var(--siteNavListMinWidth);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
}

.SiteSubMenu .SiteNavItem {
    --SiteNavItemBodyWhiteSpace: normal;
    --SiteNavItemBodyWordBreak: break-word;
    flex: 1 1 40%;
}

.SiteNavItem {
    --SiteNavItemBodyWhiteSpace: nowrap;
    --SiteNavItemBodyHyphens: none;
    --SiteNavItemBodyWordBreak: normal;
    /*margin-left: calc(var(--siteNavIconSize) + var(--siteNavIconSpacingRight));*/
    font: var(--siteNavItemFont,var(--fontWeightNormal) 14px/1.428571429 var(--fontFamily));
    letter-spacing: .2px;
}

.SiteNavItem__link {
    display: inline-flex;
    color: #0a2540;
    outline: none;
    gap: 10px;
}

.SiteNavList--iconSizeLarge .SiteNavItem__link {
    align-items: center;
}

@media (min-width: 900px) {
    .SiteNavList--iconSizeLarge .SiteNavItem__link {
        align-items: start;
    }
}

.SiteNavItem__iconContainer {
    --iconLightColor: #88add2;
    --iconDarkColor: #0a2540;
    --iconKnockoutColor: #fff;
    flex: 0 0 auto;
    width: var(--siteNavIconSize);
    height: var(--siteNavIconSize);
    margin-top: var(--siteNavIconSpacingTop);
    margin-right: var(--siteNavIconSpacingRight);
}

.SiteNavItem__iconContainer svg {
    vertical-align: top;
}

.SiteNavItem__iconContainer circle, .SiteNavItem__iconContainer path, .SiteNavItem__iconContainer rect {
    transition: var(--hoverTransition);
    transition-property: fill,stroke;
}

.SiteNavItem__label {
    color: inherit;
    line-height: var(--siteNavIconLabelLineHeight,inherit);
    font-weight: var(--fontWeightSemibold);
}

.HoverAllow {
    --arrowSpacing: 5px;
    --arrowHoverTransition: 150ms cubic-bezier(0.215,0.61,0.355,1);
    --arrowHoverOffset: translateX(3px);
    --arrowTipTransform: none;
    --arrowLineOpacity: 0;
    position: relative;
    top: 1px;
    margin-left: var(--arrowSpacing);
    stroke-width: 2px;
    fill: none;
    stroke: currentColor;

    --arrowSpacing: 4px;
    stroke-width: 1.5px;
}

.SiteNavItem__arrow.HoverArrow {
    transition: var(--hoverTransition);
    transition-property: opacity;

    /*opacity: 0;*/
}

.HoverArrow__linePath {
    opacity: var(--arrowLineOpacity);
    transition: opacity var(--hoverTransition,var(--arrowHoverTransition));
}

.HoverArrow__tipPath {
    transform: var(--arrowTipTransform);
    transition: transform var(--hoverTransition,var(--arrowHoverTransition));
}

.SiteNavItem__body {
    color: inherit;
    line-height: var(--siteNavIconBodyLineHeight,inherit);
    opacity: .6;
    transition: var(--hoverTransition);
    transition-property: opacity;
    white-space: var(--SiteNavItemBodyWhiteSpace);
    word-break: var(--SiteNavItemBodyWordBreak);
    -webkit-hyphens: var(--SiteNavItemBodyHyphens);
    -ms-hyphens: var(--SiteNavItemBodyHyphens);
    hyphens: var(--SiteNavItemBodyHyphens);
}

.svgLinearGradient {
    height: 40px;
    width: 40px;
}

.featureIcon {
    background: linear-gradient(
            0deg,
            hsla(221, 100%, 45%, 1) 1%,
            hsla(243, 100%, 73%, 1) 1%,
            hsla(190, 100%, 75%, 1) 91%
    );
    color: white;
    width: 32px;
    height: 32px;
}

.svgReactIcons {
    width: 32px;
    height: 32px;
}